1_prompt_chaining.json
{
  "nodes": [
    {
      "parameters": {
        "content": "![image](https://github.com/user-attachments/assets/3be6ca15-216b-4250-bc14-b764ab3ae741)\n\n\n  \n\n### 최초 프롬프트\n\n나는 여름 휴가를 계획 중이야. 따뜻한 날씨를 좋아하고, 자연 경관과 역사적인 장소를 둘러보는 걸 좋아해. 어떤 여행지가 나에게 적합할까?\n\n\n### 1단계 프롬프트\n\n\n사용자의 여행 취향을 바탕으로 적합한 여행지 3곳을 추천하세요. \n- 먼저 사용자가 입력한 희망사항을 요약해줘\n- 사용자가 입력한 희망사항을 반영해서 왜 적합한 여행지인지 설명해주세요\n- 각 여행지의 기후, 주요 관광지, 활동 등을 설명하세요.\n사용자 입력 : (직전 응답)\n\n\n### 2단계 프롬프트\n\n다음 여행지 3곳 중 하나를 선택하세요. 선택한 여행지 알려주세요. 그리고 선택한 이유를 설명해주세요.\n- 해당 여행지에서 즐길 수 있는 주요 활동 5가지를 나열하세요. \n- 활동은 자연 탐방, 역사 탐방, 음식 체험 등 다양한 범주에서 포함되도록 하세요.\n사용자 입력 : (직전 응답)\n\n\n\n### 3단계 프롬프트\n\n사용자가 하루 동안 이 여행지에서 시간을 보낼 계획입니다. \n- 오전, 오후, 저녁으로 나누어 일정을 짜고, 각 시간대에 어떤 활동을 하면 좋을지 설명하세요.\n\n최초 사용자의 질문 : (최초 질문)\n\n활용할 내용 : (직전 응답)",
        "height": 1060,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -920,
        -80
      ],
      "typeVersion": 1,
      "id": "3d109e0b-1b53-4044-aaf2-a3a3ac0e7a20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        120
      ],
      "id": "75c21965-f708-433d-ab8c-57afb0bbab34",
      "name": "When chat message received",
      "webhookId": "d5d74e23-1e13-4226-b217-a3cec01f8475"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        360
      ],
      "id": "8bb4c4bd-f719-482d-872c-b0fe5491ce24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=사용자의 여행 취향을 바탕으로 적합한 여행지 3곳을 추천하세요. \n- 먼저 사용자가 입력한 희망사항을 요약해줘\n- 사용자가 입력한 희망사항을 반영해서 왜 적합한 여행지인지 설명해주세요\n- 각 여행지의 기후, 주요 관광지, 활동 등을 설명하세요.\n사용자 입력 : {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        120
      ],
      "id": "97df23c7-5b1b-4ce2-b671-9cb5a68b808a",
      "name": "1단계 Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 여행지 3곳 중 하나를 선택하세요. 선택한 여행지 알려주세요. 그리고 선택한 이유를 설명해주세요.\n- 해당 여행지에서 즐길 수 있는 주요 활동 5가지를 나열하세요. \n- 활동은 자연 탐방, 역사 탐방, 음식 체험 등 다양한 범주에서 포함되도록 하세요.\n사용자 입력 : \n {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        620,
        120
      ],
      "id": "f5c384d9-e75a-41fe-a7e4-882bf594451f",
      "name": "2단계 Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        360
      ],
      "id": "875b28f9-006a-4492-9c21-10cfa97cc8eb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        360
      ],
      "id": "44b959d2-68f0-41b1-b4db-3c185ee7ae7d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=사용자가 하루 동안 이 여행지에서 시간을 보낼 계획입니다. \n- 오전, 오후, 저녁으로 나누어 일정을 짜고, 각 시간대에 어떤 활동을 하면 좋을지 설명하세요.\n최초 사용자의 질문 : \n{{ $('When chat message received').item.json.chatInput }}\n\n\n활용할 내용 : \n {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        120
      ],
      "id": "495d0408-9170-4282-ae99-ccb426b463de",
      "name": "3단계 Agent"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "1단계 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "1단계 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "1단계 Agent": {
      "main": [
        [
          {
            "node": "2단계 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2단계 Agent": {
      "main": [
        [
          {
            "node": "3단계 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "2단계 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "3단계 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a0de59fb67a306760be20dbd8aba519c63a4cb9ac17688723a86b070cf9ddc17"
  }
}
