2_routing.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        440
      ],
      "id": "2d1a1b5a-2e10-4596-8154-cd5c86a3c269",
      "name": "When chat message received",
      "webhookId": "b5820868-259f-4f82-9d95-e38ed04315d8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=    사용자의 프롬프트/질문:\n{{ $json.chatInput }}\n    각 모델은 서로 다른 기능을 가지고 있습니다. 사용자의 질문에 가장 적합한 모델을 선택하세요:\n    - gpt-4o: 일반적인 작업에 가장 적합한 모델 (기본값)\n    - o3-mini: 코딩 및 복잡한 문제 해결에 적합한 모델\n    - gpt-4o-mini: 1+1 등의 간단한 사칙연산 등의 작업에 적합한 모델 \n    \n    모델명만 단답형으로 응답하세요",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -720,
        440
      ],
      "id": "7c5ad158-e52a-4c5e-9134-f2c080271bcc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gpt-4o",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a005300b-11d0-41c7-afcc-7e2c85a014d9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a5a4d59-037d-4ba0-8b9b-cb7c8aa2158c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "o3-mini",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c43e7185-619c-4c87-a616-d3f8aae3cb78",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gpt-4o-mini",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -360,
        440
      ],
      "id": "f8899abb-7149-4ad9-a134-86189c9e920b",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        260
      ],
      "id": "4bf4bb2a-b29e-4516-b192-504b0c263267",
      "name": "gpt-4o agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        660
      ],
      "id": "b3f2c16c-9621-46a2-83a8-c9029994f9e5",
      "name": "gpt-4o-mini-agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        440
      ],
      "id": "a1e3d185-c0be-47c7-a0b2-3faa855b9d54",
      "name": "o3-mini-agent"
    },
    {
      "parameters": {
        "content": "## Router 프롬프트\n\n사용자의 프롬프트/질문: (질문)\n\n각 모델은 서로 다른 기능을 가지고 있습니다. 사용자의 질문에 가장 적합한 모델을 선택하세요:\n- gpt-4o: 일반적인 작업에 가장 적합한 모델 (기본값)\n- o3-mini: 코딩 및 복잡한 문제 해결에 적합한 모델\n- gpt-4o-mini: 1+1 등의 간단한 사칙연산 등의 작업에 적합한 모델 \n\n모델명만 단답형으로 응답하세요",
        "height": 300,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        760
      ],
      "typeVersion": 1,
      "id": "ffee0eb4-d18e-446c-bf4a-03d58876b271",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "![image](https://github.com/user-attachments/assets/fb02f28c-3938-43f2-a863-0127a26aa3f3)",
        "height": 440,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -980,
        -40
      ],
      "typeVersion": 1,
      "id": "340361b0-9da9-42ce-bcac-c0ceb8a42ae0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 질문 1\n1더하기 2는 뭐지?\n\n## 질문 2\n리스본 여행일정을 짜줘\n\n## 질문 3\n파이썬으로 API 웹서버를 만들어줘",
        "height": 240,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        -40
      ],
      "typeVersion": 1,
      "id": "e2cdec95-ab38-4ea1-b469-f8f2064cc550",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        460
      ],
      "id": "0f9f9399-b879-4c41-afca-b05be529ca41",
      "name": "o3-mini",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        660
      ],
      "id": "238bf526-a9a4-4a06-88cd-8bcf517904b5",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        280
      ],
      "id": "fa33f3c8-2f78-4173-b1d9-f9decd64bcb2",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        620
      ],
      "id": "a94d1848-079a-480d-90fe-f30f2f59931c",
      "name": "gpt-4o-mini1",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "gpt-4o agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "o3-mini-agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gpt-4o-mini-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "o3-mini": {
      "ai_languageModel": [
        [
          {
            "node": "o3-mini-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o-mini-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0de59fb67a306760be20dbd8aba519c63a4cb9ac17688723a86b070cf9ddc17"
  }
}
