2_routing.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -60
      ],
      "id": "d58063cd-aa74-4a19-aec8-dba17960ef7b",
      "name": "When chat message received",
      "webhookId": "b5820868-259f-4f82-9d95-e38ed04315d8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=    사용자의 프롬프트/질문:\n{{ $json.chatInput }}\n    각 모델은 서로 다른 기능을 가지고 있습니다. 사용자의 질문에 가장 적합한 모델을 선택하세요:\n    - gpt-4o: 일반적인 작업에 가장 적합한 모델 (기본값)\n    - o3-mini: 코딩 및 복잡한 문제 해결에 적합한 모델\n    - gpt-4o-mini: 1+1 등의 간단한 사칙연산 등의 작업에 적합한 모델 \n    \n    모델명만 단답형으로 응답하세요",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -60
      ],
      "id": "2dded1a9-0ba5-42f1-aff9-a24617d71a2c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        140
      ],
      "id": "d8ed10e9-c4b9-44cc-bf45-963ff374a0d4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "일반 버전 (형식을 강제하지 않음)",
        "height": 80,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -600,
        0
      ],
      "typeVersion": 1,
      "id": "c8af410f-b3f3-4f14-9736-dde30e3c4ce6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gpt-4o",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a005300b-11d0-41c7-afcc-7e2c85a014d9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a5a4d59-037d-4ba0-8b9b-cb7c8aa2158c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "o3-mini",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c43e7185-619c-4c87-a616-d3f8aae3cb78",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "gpt-4o-mini",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        -60
      ],
      "id": "239558cb-dc8a-4c03-ab81-94479066c84a",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        -500
      ],
      "id": "8d420ff1-55c4-4e83-a247-55fd8bdd32f3",
      "name": "gpt-4o agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        -340
      ],
      "id": "5dce4236-9d26-45d8-a7e1-cef11266c6d4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        100
      ],
      "id": "53456195-04cf-4992-8a0c-d206980f3cd4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        780,
        480
      ],
      "id": "c759c116-6c4d-4306-bc1d-3a917ca58e46",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        780,
        320
      ],
      "id": "a821323b-cab5-40ae-a5d6-132a5bf3e860",
      "name": "gpt-4o-mini-agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        820,
        -60
      ],
      "id": "e4dca115-49b0-4500-a841-3ee7b14f5d87",
      "name": "o3-mini-agent"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "gpt-4o agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "o3-mini-agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gpt-4o-mini-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "o3-mini-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o-mini-agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a5897f6bf0811d95fc82551662ff519797863d4fb48518f22757bd460e7c947"
  }
}
