3_parallelization.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        360
      ],
      "id": "24fdcd92-ce2d-4ad5-ac8f-b9821a866a2d",
      "name": "When chat message received",
      "webhookId": "6fa6c011-d98f-4dbf-85c3-2bc529444c0e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1140,
        120
      ],
      "id": "26ef191b-ae81-44a3-a836-29fe4b2a27e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1160,
        480
      ],
      "id": "d68a5b2c-4dab-41d0-a556-e80a9c5e2799",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1140,
        840
      ],
      "id": "d2bfb1b4-98da-4c73-8395-e94b2588b005",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1100,
        -60
      ],
      "id": "a5b53a72-ced0-4a9e-a4f0-ddfedcba9d71",
      "name": "gpt-4o"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1120,
        340
      ],
      "id": "af3b1b1e-16a7-4ff0-8b1b-c13d58a91974",
      "name": "gpt-4o-mini"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1120,
        660
      ],
      "id": "7dfe75af-673d-4551-81e7-5b29c62b4a4d",
      "name": "o3-mini"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음은 여러 개의 AI 모델이 사용자 질문에 대해 생성한 응답입니다.\n당신의 역할은 이 응답들을 모두 종합하여 최종 답변을 제공하는 것입니다.\n일부 응답이 부정확하거나 편향될 수 있으므로, 신뢰성과 정확성을 갖춘 응답을 생성하는 것이 중요합니다.\n\n## 사용자 질문:{{ $('When chat message received').item.json.chatInput }}\n\n## 모델 응답들:\n\n응답 1\n{{ $json.output[0] }}\n\n응답 2\n{{ $json.output[1] }}\n\n\n응답 3\n{{ $json.output[2] }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -100,
        400
      ],
      "id": "c3b3ca03-0f2f-41c9-b00d-9817d3db46b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        560
      ],
      "id": "eb55f67d-3c1d-4485-a5a9-7a5374a8354f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -560,
        400
      ],
      "id": "93e88893-c0d0-4e49-a7a9-9b4aed4cca5e",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "![image](https://github.com/user-attachments/assets/47347187-0835-4608-ba55-182cc3f7418a)\n\n",
        "height": 580,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2660,
        120
      ],
      "typeVersion": 1,
      "id": "78222f7d-790c-447f-96c2-f05344782c07",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -320,
        400
      ],
      "id": "e5af8990-e092-48cd-81e9-0f0e5d5af17f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "아래 문장을 자연스러운 한국어로 번역해줘\nDo what you can, with what you have, where you are.\\\" — Theodore Roosevelt",
        "height": 100,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        540
      ],
      "typeVersion": 1,
      "id": "019e2769-e8fb-46bc-8c69-bfade8c3349d",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "gpt-4o",
            "type": "main",
            "index": 0
          },
          {
            "node": "gpt-4o-mini",
            "type": "main",
            "index": 0
          },
          {
            "node": "o3-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o-mini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "o3-mini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "o3-mini": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0de59fb67a306760be20dbd8aba519c63a4cb9ac17688723a86b070cf9ddc17"
  }
}
