3_parallelization
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        80
      ],
      "id": "a459de86-3e6e-4405-bc6f-191bccb84d89",
      "name": "When chat message received",
      "webhookId": "6fa6c011-d98f-4dbf-85c3-2bc529444c0e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        -160
      ],
      "id": "808c9652-d146-416f-8cf1-acedd05b6cf2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        200
      ],
      "id": "fd9fab0c-292c-4beb-82ce-5168f90b4987",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        560
      ],
      "id": "8368764a-84e3-4286-8d09-c9da888afd7f",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        280,
        -340
      ],
      "id": "5f7df77a-e8e3-4019-8e1a-1a07e1d129be",
      "name": "gpt-4o"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        60
      ],
      "id": "8a93df58-8539-4f72-a215-f256afffce41",
      "name": "gpt-4o-mini"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        380
      ],
      "id": "707961d9-a5e6-4052-9b94-da10047a493a",
      "name": "o3-mini"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음은 여러 개의 AI 모델이 사용자 질문에 대해 생성한 응답입니다.\n당신의 역할은 이 응답들을 모두 종합하여 최종 답변을 제공하는 것입니다.\n일부 응답이 부정확하거나 편향될 수 있으므로, 신뢰성과 정확성을 갖춘 응답을 생성하는 것이 중요합니다.\n\n## 사용자 질문:{{ $('When chat message received').item.json.chatInput }}\n\n## 모델 응답들:\n\n응답 1\n{{ $json.output[0] }}\n\n응답 2\n{{ $json.output[1] }}\n\n\n응답 3\n{{ $json.output[2] }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1280,
        120
      ],
      "id": "497f6757-afdc-42fd-bf37-93a7da18d6f9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1220,
        300
      ],
      "id": "437dab83-cfc6-4f03-827a-6f24f6b2be6c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "noZUZUXLYwqWDZPh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        820,
        120
      ],
      "id": "5fbf62cc-dd21-407a-9ebf-88285d0dd902",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "![image](https://github.com/user-attachments/assets/47347187-0835-4608-ba55-182cc3f7418a)\n\n\n## 최초 질문\n아래 문장을 자연스러운 한국어로 번역해줘\nDo what you can, with what you have, where you are.\\\" — Theodore Roosevelt\n\n## Aggregator Prompt\n\n다음은 여러 개의 AI 모델이 사용자 질문에 대해 생성한 응답입니다.\n당신의 역할은 이 응답들을 모두 종합하여 최종 답변을 제공하는 것입니다.\n일부 응답이 부정확하거나 편향될 수 있으므로, 신뢰성과 정확성을 갖춘 응답을 생성하는 것이 중요합니다.\n\n사용자 질문:{{ $('When chat message received').item.json.chatInput }}\n\n모델 응답들:\n\n응답 1\n{{ $json.output[0] }}\n\n응답 2\n{{ $json.output[1] }}\n\n\n응답 3\n{{ $json.output[2] }}\n\n",
        "height": 1100,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        -300
      ],
      "typeVersion": 1,
      "id": "962bf669-6cae-4831-84c3-8a5fd2e06824",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        120
      ],
      "id": "51bcff93-4fe8-404f-9e21-ebbff96fb97d",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "gpt-4o",
            "type": "main",
            "index": 0
          },
          {
            "node": "gpt-4o-mini",
            "type": "main",
            "index": 0
          },
          {
            "node": "o3-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "gpt-4o-mini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "o3-mini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "o3-mini": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a5897f6bf0811d95fc82551662ff519797863d4fb48518f22757bd460e7c947"
  }
}
