5_evaluator_optimizer.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        5080
      ],
      "id": "2a53ebff-26c5-446f-b691-0a3481e7d0e4",
      "name": "When chat message received",
      "webhookId": "671884c4-a603-482f-9d6f-c6d075e613e4"
    },
    {
      "parameters": {
        "content": "## 최종 프롬프트\n(기사 링크 : https://zdnet.co.kr/view/?no=20250213091248)\n\n\n\n당신의 목표는 주어진 기사를 요약하는 것입니다. \n아래 주어진 기사 내용을 요약해주세요.\n이전 시도의 요약과 피드백이 있다면, 이를 반영하여 개선된 요약을 작성하세요.\n\n기사 내용: \n\n오픈AI가 몇 주 안에 새로운 모델인 'GPT-4.5'를 출시하며 분산돼 있던 생성형 인공지능(AI) 모델을 통합키로 했다. 추론용 모델인 'o' 시리즈를 정리하고 비(非)추론 모델인 'GPT' 시리즈로 합칠 예정이다.\n\n13일 업계에 따르면 샘 알트먼 오픈AI 최고경영자(CEO)는 지난 12일 자신의 X(옛 트위터)에 'GPT-4.5'를 조만간 출시할 것이라고 밝혔다. 현 세대인 'GPT-4o'의 뒤를 잇는 마지막 '비추론 AI'로, 내부적으로는 '오라이언(Orion)'이라고 불렸다.\n\n현재 챗GPT 이용자를 비롯한 오픈AI의 고객들은 'GPT-4o', 'o1', 'o3-미니', 'GPT-4' 등 모델들을 각자 선택해 활용하고 있다. 최신 모델은 'GPT-4'를 개선한 'GPT-4o'로, 'GPT-4'는 2023년 하반기, 'GPT-4o'는 2024년 상반기 출시됐다.\n\n오픈AI는 'GPT-5'도 지난해 공개하려고 했으나, 예상보다 저조한 성과를 거둬 출시가 연기된 상태다. 이에 그간 연산 시간을 늘려 성능을 높인 'o'시리즈 추론 모델을 새롭게 내세웠다.\n\n샘 알트먼 CEO는 \"이후 공개될 'GPT-5'부터는 추론 모델인 'o'시리즈와 'GPT'를 통합하겠다\"며 \"모델과 제품라인이 복잡해졌음을 잘 알고 있고, 앞으로는 각 모델을 선택해 사용하기보다 그저 잘 작동하길 원한다\"고 말했다.",
        "height": 560,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        5040
      ],
      "typeVersion": 1,
      "id": "3429889b-496f-4541-96f0-9a391da6e41b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -40,
        5080
      ],
      "id": "0fc2c7f2-d2c5-4956-ba62-e0e969b0f6a4",
      "name": "요약 Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 요약을 평가하십시오:\n\n## 평가기준  \n\n### 1. 핵심 내용 포함 여부  \n   - 원문의 **핵심 개념과 논리적 흐름이 유지되어야 함**  \n   - 불필요한 세부 사항은 줄일 수 있으나, **핵심 개념이 하나라도 누락되면 FAIL**  \n   - 단어 선택이 달라도 **논리 구조와 의미가 100% 유지되지 않으면 FAIL**  \n   - 원문의 중요 개념이 **10% 이상 빠지면 즉시 FAIL**  \n\n### 2. 정확성 및 의미 전달  \n   - 원문의 의미가 **조금이라도 왜곡되면 FAIL**  \n   - 숫자, 인명, 날짜 등 **객관적 정보가 단 1개라도 틀리면 FAIL**  \n   - 원문의 논리를 유지하되, 표현 방식이 다르더라도 의미가 정확하면 PASS  \n   - 논리적 비약이 있거나 잘못된 해석이 포함되면 **즉시 FAIL**  \n\n### 3. 간결성 및 가독성  \n   - 문장이 길거나 불필요한 반복이 있으면 감점  \n   - 직역체 표현이 포함되면 **FAIL**  \n   - 일부 단어 표현이 다르더라도 자연스럽다면 PASS, **조금이라도 어색하면 FAIL**  \n   - 문장이 어색하여 독해가 어렵다면 **즉시 FAIL**  \n\n### 4. 문법 및 표현  \n   - 맞춤법, 띄어쓰기 오류 **3개 이상이면 FAIL**  \n   - 사소한 문법 실수라도 의미 전달에 영향을 주면 **FAIL**  \n   - 문장이 비문이거나 문맥상 어색하면 **즉시 FAIL**  \n\n---\n\n## 평가결과 응답 예시  \n\n- **모든 기준이 완벽히 충족되었을 때만 \"평가결과 = PASS\" 출력**  \n- 수정이 필요한 경우, **구체적인 문제점과 개선 방향을 제시**  \n- 중대한 오류(핵심 개념 누락, 의미 왜곡, 숫자 오류, 논리 비약 등)가 있으면  \n  - **평가결과 = FAIL** 출력 후 주요 문제점 설명   \n### 최초 프롬프트\n\n{{ $('최초 프롬프트').item.json.chatInput }}\n### 요약 결과 \n{{ $json.summary }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        560,
        5040
      ],
      "id": "09afbfa4-638a-4cf3-ac41-41017ef1af85",
      "name": "Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.updatedPrompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1320,
        5240
      ],
      "id": "e448edd5-5213-4ee9-b94b-abd7459e65ca",
      "name": "Optimizer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        5640
      ],
      "id": "dd5dfb10-2cd2-4a95-813b-36864976b817",
      "name": "gpt-4o",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        5640
      ],
      "id": "1ccb5234-d018-4bb1-b19c-4eba70a58820",
      "name": "gpt-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "MkbUNNMdG6OqTkSw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0150f895-f3f5-4d76-9038-a7e817d95e45",
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output}}\n",
                    "rightValue": "=결과 = PASS",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "b6d3e2ed-c27e-4aee-90ea-2a2006a298df"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc10d27d-da19-4823-a07a-8fa64e33a291",
                    "leftValue": "{{ $json.output}}",
                    "rightValue": "결과 = PASS",
                    "operator": {
                      "type": "string",
                      "operation": "notRegex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        980,
        4980
      ],
      "id": "c1c6c282-3ce9-421b-9024-114cd4a0fafe",
      "name": "Pass or Fail?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a6934d-4a3d-4415-ac87-42b8f3f48770",
              "name": "updatedPrompt",
              "value": "={{ $('최초 프롬프트').first().json.chatInput }}\n\n이전 요약 및 평가 결과\n(요약결과)\n{{ $('요약').first().json.summary }}\n\n(평가결과)\n{{ $('Evaluator').first().json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        5240
      ],
      "id": "ea082df5-fd4d-4c80-9379-b64c192ce689",
      "name": "프롬프트 업데이트"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a6934d-4a3d-4415-ac87-42b8f3f48770",
              "name": "output",
              "value": "={{ $('요약').first().json.summary }}\n\n총 재시도 횟수\n{{ $prevNode.runIndex}}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        4900
      ],
      "id": "6c6e5882-ee1b-423f-87c6-dcd903b64dcd",
      "name": "최종응답"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a6934d-4a3d-4415-ac87-42b8f3f48770",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        5080
      ],
      "id": "363c91d2-5610-49bd-866d-3892f577f42c",
      "name": "요약"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a6934d-4a3d-4415-ac87-42b8f3f48770",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        5080
      ],
      "id": "95a7f215-d51d-40f7-bc49-c425386f75d8",
      "name": "최초 프롬프트"
    },
    {
      "parameters": {
        "content": "![image](https://github.com/user-attachments/assets/de653275-67ee-4373-8fd8-1bc9ce0c3be9)",
        "height": 460,
        "width": 1060,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        4360
      ],
      "typeVersion": 1,
      "id": "8c1fc0fc-ac35-4023-9e70-797f6474d306",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "다음 요약을 평가하십시오:\n\n## 평가기준  \n\n### 1. 핵심 내용 포함 여부  \n   - 원문의 **핵심 개념과 논리적 흐름이 유지되어야 함**  \n   - 불필요한 세부 사항은 줄일 수 있으나, **핵심 개념이 하나라도 누락되면 FAIL**  \n   - 단어 선택이 달라도 **논리 구조와 의미가 100% 유지되지 않으면 FAIL**  \n   - 원문의 중요 개념이 **10% 이상 빠지면 즉시 FAIL**  \n\n### 2. 정확성 및 의미 전달  \n   - 원문의 의미가 **조금이라도 왜곡되면 FAIL**  \n   - 숫자, 인명, 날짜 등 **객관적 정보가 단 1개라도 틀리면 FAIL**  \n   - 원문의 논리를 유지하되, 표현 방식이 다르더라도 의미가 정확하면 PASS  \n   - 논리적 비약이 있거나 잘못된 해석이 포함되면 **즉시 FAIL**  \n\n### 3. 간결성 및 가독성  \n   - 문장이 길거나 불필요한 반복이 있으면 감점  \n   - 직역체 표현이 포함되면 **FAIL**  \n   - 일부 단어 표현이 다르더라도 자연스럽다면 PASS, **조금이라도 어색하면 FAIL**  \n   - 문장이 어색하여 독해가 어렵다면 **즉시 FAIL**  \n\n### 4. 문법 및 표현  \n   - 맞춤법, 띄어쓰기 오류 **3개 이상이면 FAIL**  \n   - 사소한 문법 실수라도 의미 전달에 영향을 주면 **FAIL**  \n   - 문장이 비문이거나 문맥상 어색하면 **즉시 FAIL**  \n\n---\n\n## 평가결과 응답 예시  \n\n- **모든 기준이 완벽히 충족되었을 때만 \"평가결과 = PASS\" 출력**  \n- 수정이 필요한 경우, **구체적인 문제점과 개선 방향을 제시**  \n- 중대한 오류(핵심 개념 누락, 의미 왜곡, 숫자 오류, 논리 비약 등)가 있으면  \n  - **평가결과 = FAIL** 출력 후 주요 문제점 설명   \n### 최초 프롬프트\n\n{{ $('최초 프롬프트').item.json.chatInput }}\n### 요약 결과 \n{{ $json.summary }}",
        "height": 980,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        5820
      ],
      "typeVersion": 1,
      "id": "f0bc87da-b88b-4191-a79e-09deb051213c",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "최초 프롬프트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "요약 Agent": {
      "main": [
        [
          {
            "node": "요약",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Pass or Fail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer": {
      "main": [
        [
          {
            "node": "요약",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "요약 Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pass or Fail?": {
      "main": [
        [
          {
            "node": "최종응답",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "최종응답",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "프롬프트 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "프롬프트 업데이트": {
      "main": [
        [
          {
            "node": "Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "요약": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "최초 프롬프트": {
      "main": [
        [
          {
            "node": "요약 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0de59fb67a306760be20dbd8aba519c63a4cb9ac17688723a86b070cf9ddc17"
  }
}
